{% extends 'store/main.html' %} {% load static %} {% block content %}


<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{% url 'store' %}">Home</a></li>
                <li class="active">Cart Items</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="{{item.product.imageURL}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">{{item.product.name}}</a></h4>
                            <p>Product ID: {{item.product.id}}</p>
                        </td>
                        <td class="cart_price">
                            <p>£{{item.product.price}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <button data-product="{{item.product.id}}" data-action="add" class="cart_quantity_up update-cart-js"> + </button>
                                <input class="cart_quantity_input" type="text" name="quantity" value="{{item.quantity}}" autocomplete="off" size="2">
                                <button data-product="{{item.product.id}}" data-action="remove" class="cart_quantity_down update-cart-js"> - </button>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">£{{item.get_total}}</p>
                        </td>
                        <td class="cart_delete">
                            <button data-product="{{item.product.id}}" data-action="delete" class="btn btn-default btn-danger cart_quantity_delete update-cart-js"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <!-- <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div> -->
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="total_area">
                    <ul>
                        <li>Total Items <span>{{order.get_cart_items}}</span></li>
                        <li>Total Price <span>£{{order.get_cart_total}}</span></li>
                    </ul>
                    <a class="btn btn-default update" href="{% url 'store' %}">Add More</a>
                    <a class="btn btn-default check_out" href="{% url 'checkout' %}">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#do_action-->


{% endblock content %}